
  
<h3>Customer Details</h3>
<mat-tab-group animationDuration="2000ms">
  
  <mat-tab label="Info">

    <div class="form-container">
               
     <br>
     <div>
          <label for="customerName: ">Customer Name: </label>
          <input type="text" id="shpmtNumber">
     </div>

     <div >
          <label for="customerNumber: ">Customer Number: </label>
          <input type="text" id="consumercode">
     </div>

     </div>
   

  </mat-tab>
  
  <mat-tab label="Address" ></mat-tab>
  
  <mat-tab label="Contact"></mat-tab>
  
</mat-tab-group>